@mixin breakpoint($point) {
  @if $point == xs {
    @media (max-width: $xs-break) and (min-width: 0px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: $sm-break) and (min-width: 0px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: $md-break) and (min-width: 0px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: $lg-break) and (min-width: 0px) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: $xl-break) and (min-width: 0px) {
      @content;
    }
  } @else if $point == xxl {
    @media (max-width: $xxl-break) and (min-width: 0px) {
      @content;
    }
  }
}

@mixin link-focus() {
  &:focus-visible {
    outline-color: var(--color-primary);
    outline-offset: 1px;
    outline-style: auto;
    outline-width: 0.8px;
  }
}

@mixin focus() {
  &:focus-visible {
    background-color: var(--color-gray-4);
    box-shadow: 0 0 0 0.25rem rgba(#085f34, 0.35);
  }
}

@mixin hover() {
  @media (hover: hover) {
    &:hover,
    &:focus {
      @content;
    }
  }
}
@mixin active() {
  &:active {
    @content;
  }
}

@function space($gap) {
  @return calc(var(--page-gap) / (var(--page-gap-px) / $gap));
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
