:root {
  scroll-behavior: inherit;
  --bs-gutter-x: 20px;

  --fs-72-32: 4.5rem;
  --fs-72-24: var(--fs-72-32);
  --fs-48-24: 3rem;
  --fs-48-sm-18: var(--fs-48-24);
  --fs-48-xs-18: var(--fs-48-24);
  --fs-36-24: 2.25rem;
  --fs-36-sm-18: var(--fs-36-24);
  --fs-32-24: 2rem;
  --fs-32-sm-18: var(--fs-32-24);
  --fs-32-sm-16: var(--fs-32-24);
  --fs-24-18: 1.5rem;
  --fs-24-lg-16: var(--fs-24-18);
  --fs-24-sm-16: var(--fs-24-18);
  --fs-18-16: 1.125rem;
  --fs-18-14: var(--fs-18-16);
  --fs-16-14: 1rem;
  --fs-16-sm-12: var(--fs-16-14);
  --fs-16-xs-12: var(--fs-16-14);
  --fs-16-sm-10: var(--fs-16-14);
  --fs-16-xs-10: var(--fs-16-14);
  --fs-14-12: 0.875rem;
  --fs-14-sm-10: var(--fs-14-12);
  --fs-14-xs-10: var(--fs-14-12);

  --size-60-50: 60px;
  --size-60-40: 60px;
  --size-50-40: 50px;
  --size-50-30: 50px;
  --size-40-30: 40px;
  --size-30-25: 30px;

  --border-radius-24: 24px;
  --border-radius-18: 18px;
  --border-radius-16: 16px;
  --border-radius-main: 2px;

  --page-gap: 60px;
  --header-height: 100px;

  --main-color: #f87b11;
  --main-color-hover: #f78f08;
  --accent-color: #333;
  --accent-color-hover: #333;
  --second-color: #e6e6e6;
  --second-light-color: #f3f3f3;
  --text-color: #000;
  --body-bg-color: #fff;
  --shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.1);
}

@include breakpoint(xxl) {
  :root {
    --fs-72-32: 3rem;
    --fs-48-24: 2.25rem;
    --fs-36-24: 2rem;
    --fs-32-24: 1.875rem;
  }
}
@include breakpoint(xl) {
  :root {
    --fs-72-32: 2.625rem;
    --fs-36-24: 1.5rem;
    --fs-32-24: 1.5rem;
    --fs-24-18: 1.375rem;
    --fs-16-14: 0.875rem;
    --fs-14-12: 0.75rem;
  }
}

@include breakpoint(lg) {
  :root {
    --fs-72-32: 2.25rem;
    --fs-48-24: 2rem;
    --fs-24-18: 1.125rem;
    --fs-24-lg-16: 1rem;
    --fs-18-16: 1rem;
    --fs-18-14: 0.875rem;
    --size-60-50: 50px;
    --size-60-40: 40px;
    --size-50-40: 40px;
    --size-50-30: 30px;
    --size-40-30: 30px;
    --size-30-25: 25px;
    --wrapper-gap: 40px;
  }
}

@include breakpoint(md) {
  :root {
    --fs-72-32: 2rem;
    --fs-48-24: 1.5rem;
  }
}
@include breakpoint(sm) {
  :root {
    --fs-72-24: 1.5rem;
    --fs-48-sm-18: 1.125rem;
    --fs-36-sm-18: 1.125rem;
    --fs-32-sm-18: 1.125rem;
    --fs-32-sm-16: 1rem;
    --fs-24-sm-16: 1rem;
    --fs-16-sm-12: 0.75rem;
    --fs-16-sm-10: 0.625rem;
    --fs-14-sm-10: 0.625rem;
  }
}
@include breakpoint(xs) {
  :root {
    --bs-gutter-x: 15px;
    --fs-48-xs-18: 1.125rem;
    --fs-16-xs-12: 0.75rem;
    --fs-16-xs-10: 0.625rem;
    --fs-14-xs-10: 0.625rem;
  }
}
