//Heading

@mixin font-heading-1 {
  font-family: $font-secondary;
  line-height: $line-height-secondary;
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  font-size: clamp(
    2.25rem,
    1.7658227848101267rem + 2.278481012658228vw,
    4.5rem
  );
}

@mixin font-heading-2 {
  font-family: $font-secondary;
  line-height: $line-height-secondary;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  font-size: clamp(
    1.5rem,
    1.2848101265822784rem + 1.0126582278481013vw,
    2.5rem
  );
}

// Title

@mixin font-title-1 {
  font-family: $font-secondary;
  line-height: $line-height-secondary;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  font-size: clamp(2rem, 1.8924050632911393rem + 0.5063291139240507vw, 2.5rem);
}

@mixin font-title-2 {
  font-family: $font-secondary;
  line-height: $line-height-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  font-size: clamp(
    1.25rem,
    1.1962025316455696rem + 0.25316455696202533vw,
    1.5rem
  );
}

// Text

@mixin font-text-name-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.0886075949367089rem + 0.759493670886076vw, 2rem);
}

@mixin font-text-1-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9462025316455697rem + 0.25316455696202533vw,
    1.25rem
  );
}

@mixin font-text-1-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9462025316455697rem + 0.25316455696202533vw,
    1.25rem
  );
}

@mixin font-text-2-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8481012658227848rem + 0.12658227848101267vw,
    1rem
  );
}

@mixin font-text-2-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8481012658227848rem + 0.12658227848101267vw,
    1rem
  );
}

@mixin font-text-3-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  font-size: clamp(
    0.75rem,
    0.7231012658227848rem + 0.12658227848101267vw,
    0.875rem
  );
}

@mixin font-text-3-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  font-size: clamp(
    0.75rem,
    0.7231012658227848rem + 0.12658227848101267vw,
    0.875rem
  );
}

// Misc

@mixin font-button {
  font-family: $font-secondary;
  line-height: $line-height-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.7943037974683544rem + 0.379746835443038vw,
    1.25rem
  );
}

@mixin font-nav {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9462025316455697rem + 0.25316455696202533vw,
    1.25rem
  );
}

@mixin font-offcanvas {
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9462025316455697rem + 0.25316455696202533vw,
    1.25rem
  );
}

@mixin footer-btn-main {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8481012658227848rem + 0.12658227848101267vw,
    1rem
  );
}
@mixin footer-btn-size {
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  font-size: clamp(
    0.625rem,
    0.5981012658227848rem + 0.12658227848101267vw,
    0.75rem
  );
}
