$font-primary: "Onest", sans-serif;
$font-secondary: "Exo 2", sans-serif;

$line-height-default: 1.3;
$line-height-primary: 1.3;
$line-height-secondary: 1.2;

$browser-context: 16px;
$trans: all 0.2s ease-out;
$xxl-break: 1699px;
$xl-break: 1399px;
$lg-break: 1199px;
$md-break: 991px;
$sm-break: 767px;
$xs-break: 576px;
