$regular: 'Montserrat-Regular', sans-serif;
$bold: 'Montserrat-Bold', sans-serif;
$browser-context: 16px;
$trans: all .2s ease-out;
$xxl-break: 1699px;
$xl-break: 1399px;
$lg-break: 1199px;
$md-break: 991px;
$sm-break: 767px;
$xs-break: 576px;