include ../layouts/mixins.pug
.bottom-fixed
  .container
    .bottom-fixed__items
      a.bottom-fixed__item(href="#")
        //- button.bottom-fixed__item.btn-offcanvas(type="button" data-bs-toggle="offcanvas" data-bs-target="#catalog-offcanvas")
        +svg("grid-menu-icon", 24)(class='icon')
        span Каталог
      a.bottom-fixed__item(href="#")
        +svg('search-icon', 24)
        span Фильтр
      a.bottom-fixed__item(href="#")
        +svg("cart-icon", 24)
        span Корзина
      button.bottom-fixed__item.btn-offcanvas(type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-offcanvas")
        +svg('menu-icon', 24)
        span Меню
