include ../layouts/mixins.pug

.breadcrumb
    nav
        ol.breadcrumb__list 
            li.breadcrumb__item: a(href="#") Главная 
            li.breadcrumb__item
                a.dropdown-toggle(href="#" data-bs-toggle="dropdown" aria-expanded="false") Продукция
                ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
                    li: a.dropdown-item(href='#') Action
                    li: a.dropdown-item(href='#') Another action
                    li: a.dropdown-item(href='#') Something else here
            li.breadcrumb__item
                a.dropdown-toggle(href="#" data-bs-toggle="dropdown" aria-expanded="false") Вентиляторы Bahcivanmotor
                ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
                    li: a.dropdown-item(href='#') Action
                    li: a.dropdown-item(href='#') Another action
                    li: a.dropdown-item(href='#') Something else here
            li.breadcrumb__item: a(href="#") Радиальные вентиляторы