include ../layouts/mixins.pug
.offcanvas.offcanvas-end.menu-offcanvas#menu-offcanvas

  button.offcanvas__close(type="button" data-bs-dismiss="offcanvas" aria-label="Закрыть")
    +svg('close-icon', 32)(class='icon icon--responsive')
  .offcanvas__content
    .header__lang-selector
      a.header__lang-link.header__lang-link--active(href="#") Ru
      //- span.header__lang-separator /
      a.header__lang-link(href="#") En

    ul.offcanvas__nav
      li.offcanvas__nav-item: a(href="#") О нас
      li.offcanvas__nav-item: a(href="#") Преимущества
      li.offcanvas__nav-item: a(href="#") Область применения
      li.offcanvas__nav-item: a(href="#") Контакты

.offcanvas.offcanvas-end.catalog-offcanvas#catalog-offcanvas

  button.offcanvas__close(type="button" data-bs-dismiss="offcanvas" aria-label="Закрыть")
    +svg('close-icon', 32)(class='icon icon--responsive')

  .offcanvas__content
    ul.offcanvas__nav
      li: a(href="#") О компании
      li.dropdown-center
        a.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Каталог
        ul.dropdown-menu
          li: a.dropdown-item(href="#") Сайты
          li: a.dropdown-item(href="#") Фирменные стили
          li: a.dropdown-item(href="#") Иллюстрации
          li: a.dropdown-item(href="#") Инфографика
          li: a.dropdown-item.active(href="#") Продвижение сайтов
      li: a(href="#") Выполненные объекты
      li: a(href="#") Доставка
      li: a(href="#") Контакт
      li: a(href="#") Монтаж
      li: a(href="#") Контакты
