include ../layouts/mixins.pug
.my-modal.callback-modal#callback-modal
    button.my-modal__close-button(data-modal-close)
        +svg('close-icon', 28)(class='close-icon')
    .my-modal__content 
        | 123213