include ../layouts/mixins.pug

nav.pagination
    ol.pagination__list
        li: a.pagination__link.active(href="#") 1
        li: a.pagination__link(href="#") 2
        li: a.pagination__link(href="#") 3
        li: a.pagination__link(href="#") 4
        li: a.pagination__link(href="#") 5
    ol.pagination__list
        li: a.btn.pagination__arrow(href="#"): +svg('right-arr', 12)(class='icon icon-rotate-180')
        li: a.btn.pagination__arrow(href="#"): +svg('right-arr', 12)(class='icon')
