.modal.fade.personal-data-modal(id="personalDataModal" tabindex="-1" aria-labelledby="personalDataModalLabel" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        //- .personal-data-modal__body
        .cookies-modal__heading Соглашение на обработку данных
        .cookies-modal__text Предоставляя в Гостиницу ТАН (ООО «ТАН» (ИНН 0276122493)) настоящую заявку, я в соответствии с требованиями Федерального закона от 27.07.2006 года №152-ФЗ «О персональных данных», даю безусловное согласие на обработку персональных данных, указанных мною в настоящей заявке, включая, но, не ограничиваясь сбором, систематизацией, накоплением, хранением, уточнением (обновлением, изменением), использованием, обезличиванием, уничтожением персональных данных. Обработка моих персональных данных может осуществляться любым способом, как неавтоматизированным, так и автоматизированным. Настоящее согласие действует бессрочно и может быть отозвано мной или моим полномочным представителем, путем предъявления по месту нахождения Гостиница ТАН письменного заявления, не менее чем за 30 дней до момента отзыва соответствующего согласия. В случае получения моего письменного заявления об отзыве настоящего согласия на обработку персональных данных, Гостиница ТАН обязуется прекратить их обработку. Я подтверждаю, что, давая такое согласие, я действую по собственной воле и в своих интересах.
