extends ../layouts/head.pug

block variables
  - const pagetitle = "Поиск";

block content
  main.page.search-page
    .container
      include ../components/bread
      h1.search-page__title.page__title
        span.highlight Поиск

      section.search-page__results

        .search-page__summary
          | По запросу «
          span.search-page__query рулоны
          | » найдено
          |
          span.search-page__count 23
          |
          | результата


        .search-page__results-list
          +result-item(
            "img/card-1-bg.png",
            "Рулоны",
            "Рулоны",
            "#",
            "LINEFLEX AL GUARD AG - это рулоны из эластомерного вспененного каучука на клеевой основе, покрытие алюминиевой фольгой и упрочненной ПВХ-пленкой. Они обладают низкой теплопроводностью, высоким сопротивлению диффузии водяного пара и предотвращают..."
          )

          +result-item(
            "img/card-2-bg.png",
            "Рулоны E-AG ",
            "Рулоны E-AG ",
            "#",
            "LINEFLEX AL GUARD AG - это рулоны из эластомерного вспененного каучука на клеевой основе, покрытые алюминиевой фольгой и упрочненной ПВХ-пленкой. Они обладают низкой теплопроводностью, высоким сопротивлению диффузии водяного пара и предотвращают...",
          )
          +result-item(
            "img/card-3-bg.png",
            "Рулоны E ",
            "Рулоны E ",
            "#",
            "LINEFLEX AL GUARD AG - это рулоны из эластомерного вспененного каучука на клеевой основе, покрытые алюминиевой фольгой и упрочненной ПВХ-пленкой. Они обладают низкой теплопроводностью, высоким сопротивлению диффузии водяного пара и предотвращают...",
          )
          +result-item(
            "img/card-4-bg.png",
            "Рулоны EA-AG ",
            "Рулоны EA-AG ",
            "#",
            "LINEFLEX AL GUARD AG - это рулоны из эластомерного вспененного каучука на клеевой основе, покрытые алюминиевой фольгой и упрочненной ПВХ-пленкой. Они обладают низкой теплопроводностью, высоким сопротивлению диффузии водяного пара и предотвращают...",
          )
          +result-item(
            "img/card-2-bg.png",
            "Рулоны EA",
            "Рулоны EA ",
            "#",
            "LINEFLEX AL GUARD AG - это рулоны из эластомерного вспененного каучука на клеевой основе, покрытые алюминиевой фольгой и упрочненной ПВХ-пленкой. Они обладают низкой теплопроводностью, высоким сопротивлению диффузии водяного пара и предотвращают...",
          )

        .search-page__pagination
          include ../components/pag.pug


      //- include ../components/footer-form.pug


