include mixins.pug

header.header.container
  .header__container
    // logo
    a.header__logo(href="#")
      img.header__logo-img(src="./img/logo.svg" alt="LINEFLEX Logo")

    // nav (Desktop)
    .header__nav
      nav.header__nav-desktop
        ul.header__nav-list
          li.header__nav-item: a.header__nav-link(href="#") О нас
          li.header__nav-item: a.header__nav-link(href="#") Преимущества
          li.header__nav-item: a.header__nav-link(href="#") Область применения
          li.header__nav-item: a.header__nav-link(href="#") Контакты
          li.header__nav-item
            button.header__nav-link.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Преимущества
            ul.dropdown-menu
              li.dropdown-item: a.dropdown-link.header__nav-link(href="#") Наши преимущества
              li.dropdown-item: a.dropdown-link(href="#") Сотрудничество
              li.dropdown-item: a.dropdown-link(href="#") Вакансии

    .header__actions
      .header__actions-top
        .header__lang-selector
          a.header__lang-link.header__lang-link--active(href="#") Ru
          a.header__lang-link(href="#") En

      .header__actions-bottom
        .header__contact
          a.header__contact-phone(href="tel:+73472460622") +7 (347) 246-06-22
          span.header__contact-city Уфа

        // when adding .header__utility-btn--cart-full(cart counter appears)
        .header__utility-icons
          button.header__utility-btn.header__utility-btn--cart.header__utility-btn--cart-full
            +svg('cart-icon', 24 ,24)(class="icon")
            span.cart-counter 23

          button.header__utility-btn.header__utility-btn--offcanvas(type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-offcanvas")
            +svg('menu-icon', 24 ,24)(class="icon")

        button(type="button" data-bs-toggle="modal" data-bs-target="#callback-modal").button.header__cta-btn Отправить заявку

  .header__logo-text ООО «ПРМ групп» официальный дистрибьютор
